
<%- include('header.ejs') %>
   <!-- main content start -->
    <div class="main-content">
        <div class="dashboard-breadcrumb mb-25">
            <h2>eCommerce Dashboard</h2>
            <div class="input-group dashboard-filter">
                <input type="text" class="form-control" name="basic" id="dashboardFilter" readonly>
                <label for="dashboardFilter" class="input-group-text"><i class="fa-light fa-calendar-days"></i></label>
            </div>
        </div>
        <div class="row mb-25">
            <div class="col-lg-3 col-6 col-xs-12">
                <div class="dashboard-top-box rounded-bottom panel-bg">
                    <div class="left">
                        <h3><%= leadcount %></h3>
                        <p>Imported Leads</p>
                        <a href="/admin/customers">View net Leads</a>
                    </div>
                    <div class="right">
                        <span class="text-primary">+%</span>
                        <div class="part-icon rounded">
                            <span><i class="fa-light fa-dollar-sign"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-xs-12">
                <div class="dashboard-top-box rounded-bottom panel-bg">
                    <div class="left">
                        <h3><%= customerscount %></h3>
                        <p>Leads Add From Dashboard</p>
                        <a href="#">Excluding orders in transit</a>
                    </div>
                    <div class="right">
                        <span class="text-primary">+16.24%</span>
                        <div class="part-icon rounded">
                            <span><i class="fa-light fa-bag-shopping"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-xs-12">
                <div class="dashboard-top-box rounded-bottom panel-bg">
                    <div class="left">
                        <h3><%= totalleads %></h3>
                        <p>Total Leads</p>
                        <a href="#">Excluding orders in transit</a>
                    </div>
                    <div class="right">
                        <span class="text-primary">+%</span>
                        <div class="part-icon rounded">
                            <span><i class="fa-light fa-bag-shopping"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6 col-xs-12">
                <div class="dashboard-top-box rounded-bottom panel-bg">
                    <div class="left">
                        <h3><%= totalclients %></h3>
                        <p>Total Clinets</p>
                        <a href="/">Excluding orders in transit</a>
                    </div>
                    <div class="right">
                        <span class="text-primary">+%</span>
                        <div class="part-icon rounded">
                            <span><i class="fa-light fa-bag-shopping"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
         
            <div class="col-xxl-8">
                <div class="panel">
                    <div class="panel-header">
                        <h5>All Leads</h5>
                        <div id="tableSearch"></div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-dashed recent-order-table" id="myTable">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>AddToClient</th>
                                    <th>Company Name</th>
                                    <th>Employee Name</th>
                                    <th>Company Mobile</th>
                                    <th>WhatsApp Number</th>
                                    <th>Company Category</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Call Date</th>
                                    <th>Call Time</th>
                                    <th>Timestamp</th>
                               
                                </tr>
                            </thead>
                            <tbody>
                                <% if (customers && customers.length) {
                                    customers.forEach((item, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td><a href="/admin/addclients?id=<%= item.id %>" target="_blank"><i class='fas fa-user-tie'></i></a></td>
                                            <% if (item.d_id == 1) { %> <!-- Checking item.d_id for conditional formatting -->
                                                <td class="text-warning"><%= item.companyName %></td>
                                            <% } else { %>
                                                <td><%= item.companyName %></td>
                                            <% } %>   
                                            <td><%= item.Employee.employee_name %></td>
                                            <td><%= item.companyMobile %></td>
                                            <td><%= item.whatsappNumber %></td>
                                            <td><%= item.companyCategory %></td>
                                            <td><%= item.email %></td>
                                            <td><%= item.address %></td>
                                            <td><%= item.city %></td>
                                            <td><%= item.state %></td>
                                         
                                            <td><%= item.callDate %></td>
                                            <td><%= item.callTime %></td>
                                            <td><%= item.timestamp %></td>
                                         
                                        </tr>
                                    <% });
                                } else { %>
                                    <tr>
                                        <td colspan="15">No customers found</td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                        <div class="table-bottom-control"></div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer.ejs') %>